.explain.static, .mde-container > .for-preview {
    img {
        display: block;
        margin: auto;
        max-width: 100%;
    }
    pre:has(code) {
        margin: 0, .25rem, 0, .25rem
    }
}