:root {
  --text-danger: #dc3545;
  --text-success: #198754;
}

/* when offcanvas show */
@media (min-width: 993px) { 
  .sidebar {
    position: sticky;
    top: 0px;
    overflow-y: auto;
    max-height: calc(100vh);
  }
}

/* accordion status control */
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed) {
  opacity: 100%;
  background-color: white;
}

/* toast */
.toast {
  z-index: 10;
  right: 1%;
  .toast-body {
    overflow-y: auto;
    max-height: 10rem;
  }
}

.toast.status-error {
  border: solid var(--text-danger); 
  background-color: #ffdddd;
  .toast-header {
    i {
      color: var(--text-danger);
    }
    span::before {
      content: "ERROR";
      color: var(--text-danger);
    }
  }
  .toast-body {
    white-space: pre-wrap;
    font-size: 0.6rem;
  }
}

.toast.status-success {
  border: solid var(--text-success);
  background-color: rgb(182 216 182);
  .toast-header {
    i {
      color: var(--text-success);
    }
    span::before {
      content: "SUCCESS";
      color: var(--text-success);
    }
  }
}

/* code node */
.code {
  display: flex;
  .node-side {
      padding: 0rem 0.3rem;
      text-align: right;
      position: relative;
      font-size: 0.7rem;
      .node-number::before {
          content: "[";
      }
      .node-number::after {
          content: "]";
      }
  }
  .node-prime {
      width: 100%;
      .node-code {
          width: 100%;
      }
      .return-box {
          position: relative;
          padding: 0.1rem 0 1rem 0;
          .node-sidebutton {
            position: absolute;
            transform: translate(-100%, -100%);
            top: 0;
            left: 0;
          }
          p {
              padding: 0 1rem;
              margin-bottom: 0rem;
              white-space: pre-wrap;
              font-size: 0.7rem;
          }

      }
  }
}