

/* =======
 MDE Node
========== */
/* 共通 */
.mde {
    border: solid 0.6px rgb(168, 168, 168);
    border-radius: 5px;
    padding: 1px;
    .toolbar {
        height: 1.5rem;
        background-color: #ececed;
        .btn {
            padding: 0.2rem 0.5rem;
            border: none;
            border-radius: 0;
            i {
                font-size: 1rem;
            }
            i:before {
                display: block;
            }
        }
        .btn-preview {
            .bi-eye {
                display: block;
            }
        }
    }
    .node-mde {
        border: solid 0.6px rgb(168, 168, 168);
        border-radius: 5px;
        display: block;
    }
    .for-preview {
        display: none;
        padding: 0.25rem;
        word-break: break-all;
        min-height: 1.5rem;
    }
}
/* プレビュー状態 */
.mde.preview-active {
    border: none;
    &:hover {
        border: solid 1px rgb(168, 168, 168);
        border-radius: 5px;
        padding: 0px;
    }
    .toolbar {display: none !important;}
    .node-mde {
        display: none;
    }
    .for-preview {
        display: block;
    }
}


