.row {
    height: 100vh;
}

.mde {
    border: solid 0.6px rgb(168, 168, 168);
    border-radius: 5px;
    .toolbar {
        height: 1.5rem;
        background-color: #ececed;
        .btn {
            padding: 0.2rem 0.5rem;
            border: none;
            border-radius: 0;
            i {
                font-size: 1rem;
            }
            i:before {
                display: block;
            }
        }
        .btn-preview {
            .bi-eye {
                display: block;
            }
            .bi-eye-slash {
                display: none;
            }
        }
    }
    .node-mde {
        border: solid 0.6px rgb(168, 168, 168);
        border-radius: 5px;
        display: block;
    }
    .for-preview {
        display: none;
        padding: 1rem;
    }
}

.mde.preview-active {
    .toolbar .btn-preview {
        .bi-eye {
            display: none;
        }
        .bi-eye-slash {
            display: block;
        }
    }
    .node-mde {
        display: none;
    }
    .for-preview {
        display: block;
        border: solid 0.6px rgb(168, 168, 168);
        border-radius: 5px;
    }
}

:is(.p-content, .q-content) {
    border: dotted;
    background-color: rgb(242 243 247);
    padding: 1rem 0rem;
    .node-control {
        margin-left: 1rem;
    }

}

:is(.p-content, .q-content):has(:is(.explain, .code, .question)) {
    .node-control:hover {
        .btn-group {
            .btn {
                display: inline;
                padding: 0.2rem 0.5rem;
                line-height: 1rem;
                border: none;
                border-radius: 0;
            }
        }
    }
    .node-control .btn-group .btn {
        display: none;

    }
    .bi-file-earmark-code {
        display: none;
    }
    
}

.p-content:not(:has(:is(.explain, .code, .question))) {
    text-align: center;
    height: 350px;
    .bi-file-earmark-code {
        display: block;
        font-size: 200px;
        margin-top: auto;
        opacity: 0.6;
    }
}

.q-content:not(:has(:is(.explain, .code, .question))) {
    .node-control .btn-group .btn {
        display: inline;
        padding: 0.2rem 0.5rem;
        line-height: 1rem;
        border: none;
        border-radius: 0;
    }
}

