.node {
    display: flex;
    .node-side {
        padding: 0rem 0.3rem;
        text-align: right;
        position: relative;
        font-size: 0.7rem;
        .node-sidebutton {
          position: absolute;
          bottom: 3%;
          right: 0;
          i {
            padding-right: 0.1rem;
          }
        }
        .node-number::before {
            content: "[";
        }
        .node-number::after {
            content: "]";
        }
    }
    .node-prime {
        width: 100%;
        .node-code {
            position: relative;
            height: 100px;
            width: 100%;
        }
        .return-box {
            padding-top: 0.1rem;
            .exec-res {
                padding: 0rem 0.3rem;
                margin-bottom: 0rem;
            }
            .exec-error {
                border: 1.5px solid red;
                padding: 0.3rem;
                color: red;
            }
        }
    }
  }