{% extends "../layout.html" %}

{% block content %}
<h2 id="statement">1</h2>
<div class="description">
<p>scikit-learn機械学習モデルの使い方(1)</p>

<a href="./reference/Machine_Learning.pdf" target="_blank" rel="noopener noreferrer">機械学習の基礎 (別タブ)</a>
</div>

<h2 id="code">The Source Code</h2>

<div class="src_code" id="scoring-res">

{% module Node() %}

<div class="question">
    {% module Node() %}
    {% module Node(code="assert a==100, 'test clear'", testing=True) %}
    <a class="button-success" onclick="answer()">answer</a>
</div>

<div class='explain'>
<h5><b>データについて</b></h5>
</div>
    
<div class='explain'>
<p><i>x</i>の値から、<i>y</i>の値を予測する。
<p>目的変数: <i>y</i></p>
<p>説明変数: <i>x</i></p>
</div>

{% module Node() %}

<div class='explain'>
<h5><b>1. モデルのインスタンス化</b></h5>
</div>
    
{% module Node() %}

</div>

<div class="popup">
    <div class="content">
        <button id="close">X</button>
    </div>
</div>
<script src="{{ static_url('js/problems.js') }}"></script>
{% end %}