{% extends "layout.html" %}

{% block head %}
<title>Pyplas - Create</title>
<script src="{{ static_url('js/category_edit.js') }}" type="module"></script>
{% end %}

{% block head-nav-li %}
<li class="nav-item align-self-center">
  <a href="/" class="nav-link text-light"><i class="bi bi-house"></i> Home</a>
</li>
<li class="nav-item align-self-center">
  <a href="/create" class="nav-link text-light text-decoration-underline">Create</a>
</li>
{% end %}

{% block modal %}
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true" data-shown-cat-id="">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="categoryModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="categoryNameInput" class="form-label">Category Name</label>
          <input type="text" class="form-control" id="categoryNameInput" autocomplete="off">
        </div>
        <div class="mb-3">
          <label for="categoryLogoURLSelect" class="form-label">Logo URL</label>
          <select class="form-select" id="categoryLogoURLSelect" aria-label="Select category logo img">
            <option value="" selected>Select Image</option>
            {% for path in image_paths %}
              <option value="{{ path }}" data-fullpath="{{ static_url(path) }}">{{ path.split("/")[-1] }}</option>
            {% end %}
          </select>
          <div id="imgPreview" class="pt-1"></div>
        </div>
        <div class="mb-3">
          <label for="categoryDescriptionInput" class="form-label">Description</label>
          <textarea class="form-control" id="categoryDescriptionInput" rows="4"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-action="update-category" aria-label="Save changes">add / update</button>
        <button type="button" class="btn btn-danger" data-action="delete-category" aria-label="Delete this category">Delete</button>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block side-content %}
{% module Template("modules/sidebar-documentation.html") %}
{% end %}

{% block main %}
<div class="" id="CategoryEditContainer">
    <p class="fs-3 border-bottom border-dark mt-3">Edit Category</p>
    <div id="categoryList" class="w-100">
      <table class="table table-hover table-responsive px-1 text-break" id="problemList">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">##</th>
            <th scope="col">Image</th>
            <th scope="col" style="width: 15%;">Category Name</th>
            <th scope="col" style="width: 70%;">Description</th>
          </tr>
        </thead>
        <tbody>
        {% for i, d in enumerate(categories) %}
          <tr data-bs-toggle="modal" data-bs-target="#categoryModal" data-cat-id="{{d['cat_id']}}">
            <td>{{ f"#{i+1:02}" }}</td>
            <th scope="row"><img src="{{ static_url(d['logo_url']) }}" style="width: 4rem;height: 4rem;"
              class="logo-img object-fit-cover border " alt="logo"></th>
            <td>{{ d['cat_name'] }}</td>
            <td>
              <div style="max-height: 4rem; overflow-y: auto;">{{ d['description'] }}</div>
            </td>
          </tr>
        {% end %}
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#categoryModal" data-cat-id="new">
        <i class="bi bi-plus-circle"></i>  New
      </button>
    </div>
</div>
{% end %}

{% block side-content-r %}
{% end %}

