{% extends "layout.html" %}

{% block head %}
{% end %}

{% block head-nav-li %}
{% end %}


{% block side-content %}
{% end %}

{% block main %}
<main class="col px-3 vh-100 mt-3">
  <div class="" id="progress">
      <p class="fs-3 border-bottom border-dark">Problems</p>
      <table class="table table-hover table-responsive ms-3">
          <thead>
            <tr>
              <th scope="col" style="width: 10%;">#</th>
              <th scope="col" style="width: 30%;">title</th>
              <th scope="col" style="width: 25%;">group</th>
              <th scope="col" style="width: 25%;">status</th>
              <th scope="col" style="width: 10%;">ops</th>
            </tr>
          </thead>
          <tbody>
          {% for i, d in enumerate(problem_list) %}
            <tr>
              <th scope="row">{{ i }}</th>
              <td><input type="text" class="form-control form-control-sm" value="{{ d['title'] }}"></td>
              <td>
                <select class="form-select form-select-sm">
                  {% for cat_d in categories %}
                    <option value="{{ cat_d['cat_id'] }}" {{"cheked" if d['category'] == cat_d['cat_id'] else "" }}>{{ cat_d['cat_name'] }}</option>
                  {% end %}
                </select>
              </td>
              <td>
                <select class="form-select form-select-sm" aria-label="Default select example">
                  <option value="0" {{"cheked" if d['status']==0 else "" }}>非公開</option>
                  <option value="1" {{"cheked "if d['status']==1 else "" }}>公開中</option>
                </select>
              </td>
              <td class="d-flex mx-auto">
                <button class="btn btn-sm"><i class="bi bi-arrow-clockwise"></i></button>
                <div class="vr"></div>
                <button class="btn btn-sm" onclick="location.href='./create/{{ d['p_id']}}'"><i class="bi bi-pencil-square"></i></button>
              </td>
            </tr>
          {% end %}
          </tbody>
        </table>
  </div>
</main>
<div class="col-xl-2 border-start"></div>
{% end %}

