{% extends "layout.html" %}

{% block head %}
<title>Pyplas - Create</title>
<link rel="stylesheet" href="{{ static_url('css/style2.css') }}">
<script src="{{ static_url('js/create_index.js') }}" type="module"></script>
{% end %}

{% block head-nav-li %}
{% end %}


{% block side-content %}
<p class="fs-4 text-secondary border-bottom border-dark">User's Guide</p>
<ul class="list-group">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
</ul>
{% end %}

{% block main %}
<div class="" id="progress">
    <p class="fs-3 border-bottom border-dark mt-3">Create Problems</p>
    <div id="cateogoryFilterContainer">
      {% for cat_d in categories %}
        <button class="category-tag btn btn-sm btn-outline-info" data-category="{{cat_d['cat_id']}}" data-bs-toggle="button"># {{ cat_d['cat_name'] }}</button>
      {% end %}
    </div>
    <div class="d-flex justify-content-end d-none" id="categoryActions">
      <button class="btn btn-sm btn-warning" data-action="open-order-window"><i class="bi bi-list-ol"></i> Change Problem Order</button>
    </div>
    <table class="table table-hover table-responsive px-1" id="problemList">
        <thead>
          <tr>
            <th scope="col" style="width: 7%;">#</th>
            <th scope="col" style="width: 45%;">title</th>
            <th scope="col" style="width: 18%;">category</th>
            <th scope="col" style="width: 20%;">status</th>
            <th scope="col" style="width: 10%;">ops</th>
          </tr>
        </thead>
        <tbody>
        {% for i, d in enumerate(problem_list) %}
          <tr class="{{'d-none' if d['category'] is not None else ''}}" target="{{ d['p_id'] }}" data-sort-id="{{i}}">
            <th scope="row"><span>{{i}}</span></th>
            <td><input type="text" class="title-form form-control form-control-sm" for="title" value="{{ d['title'] }}"></td>
            <td>
              <select class="select-category form-select form-select-sm" for="category">
                <option value="" {{"selected" if d['category'] is None else "" }}>None</option>
                {% for cat_d in categories %}
                  <option value="{{ cat_d['cat_id'] }}" {{"selected" if d['category'] == cat_d['cat_id'] else "" }}>{{ cat_d['cat_name'] }}</option>
                {% end %}
              </select>
            </td>
            <td>
              <select class="select-status form-select form-select-sm" for="status" aria-label="Default select example">
                <option value="0" {{"selected" if d['status']==0 else "" }}>非公開</option>
                <option value="1" {{"selected" if d['status']==1 else "" }}>公開中</option>
              </select>
            </td>
            <td class="d-flex mx-auto">
              <button class="btn btn-sm" data-action="del-problem"><i class="bi bi-trash3 text-danger"></i></button>
              <div class="vr"></div>
              <button class="btn btn-sm" onclick="location.href='/create/{{ d['p_id'] }}'"><i class="bi bi-pencil-square"></i></button>
            </td>
          </tr>
        {% end %}
        </tbody>
      </table>
</div>
<div class="text-center">
  <button class="btn btn-primary btn-update" data-action="update-profiles"><i class="bi bi-arrow-clockwise"></i>  Update Profiles</button>
  <button class="btn btn-success" onclick="location.href='/create/new'"><i class="bi bi-plus-circle"></i>  New</button>
</div>
{% end %}

{% block side-content-r %}
{% end %}

