{% extends "layout.html" %}

{% block head %}
<title>PyPLAS - edit</title>
<link rel="stylesheet" href="{{ static_url('css/style2.css') }}">
<script src="{{ static_url('js/notebook.js') }}" type="module"></script>
<style>
    .node {
        margin-top: 0 !important;
        margin-bottom: .25rem !important;
    }
</style>
{% end %}

{% block head-nav-li %}
<li class="nav-item align-self-center">
    <a href="/" class="nav-link text-light"> Home</a>
</li>
<li class="nav-item align-self-center">
    <a href="/create" class="nav-link text-light"> Create</a>
</li>
<li class="nav-item align-self-center">
    <a href="{{ current_url.replace('create', 'problems')}}" 
        class="nav-link {{ 'disabled text-secondary' if is_new else 'text-light' }}"> Demo</a>
</li>
{% end %}

{% block side-content %}
<p class="fs-5 fw-bold border-bottom px-2">SideMenu</p>
{% module Template('modules/side_kernel_ops.html') %}
{% end %}

{% block main %}
<div class="my-3" id="summary">
    <p class="fs-3 border-bottom border-dark ps-1">
        <input class="form-control mb-1" id="titleForm" type="text" placeholder="Title" aria-label="problem title input" value="{{ title }}" autocomplete="off">
    </p>
    <div class="ps-3">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-summary-tab" data-bs-toggle="tab" data-bs-target="#navSummary" type="button" role="tab" aria-controls="navSummary" aria-selected="true">Summary</button>
                <button class="nav-link" id="nav-data-tab" data-bs-toggle="tab" data-bs-target="#navData" type="button" role="tab" aria-controls="navData" aria-selected="false">Data Source</button>
                <button class="nav-link" id="nav-env-tab" data-bs-toggle="tab" data-bs-target="#navEnv" type="button" role="tab" aria-controls="navEnv" aria-selected="false">Environment</button>
            </div>
        </nav>
        <div class="tab-content border bg-light" id="nav-tabContent">
            <div class="tab-pane fade show active p-2" id="navSummary" role="tabpanel" aria-labelledby="nav-summary-tab">
                {% module Explain(content=page.get("header", {}).get("summary", ""), editor=True, allow_del=False) %}
            </div>
            <div class="tab-pane fade p-2" id="navData" role="tabpanel" aria-labelledby="nav-data-tab">
                {% module Explain(content=page.get("header", {}).get("source", ""), editor=True, allow_del=False) %}
            </div>
            <div class="tab-pane fade p-2" id="navEnv" role="tabpanel" aria-labelledby="nav-env-tab">
                {% module Explain(content=page.get("header", {}).get("env", ""), editor=True, allow_del=False) %}
            </div>
        </div>
    </div>
</div>
<div id="sourceCode">
    <p class="fs-3 border-bottom border-dark ps-1">The Source Code</p>
    <div class="dynamic-nodes-container position-relative p-2" id="nodesContainer">
        <div id="loadIpynb" class="mb-3 border border-start-0 border-end-0 border-success border-3 pb-2 bg-success-subtle">
            <label for="ipynbForm" class="form-label">Create from Jupyter Notebook</label>
            <input class="form-control form-control-sm w-50 mx-auto border border-dark" id="ipynbForm" type="file" accept=".ipynb" name="mynote">
        </div>
        {% module NodeControl() %}
        {% if not is_new %}
            {% for d in page["body"] %}
                {% if d["type"] == "explain" %}
                    {% module Explain(**d, editor=True, allow_del=True) %}
                {% elif d["type"] == "code" %}
                    {% module Code(**d, user=1, allow_del=True) %}
                {% elif d["type"] == "question" %}
                    {% module Question(**d, user=1, 
                        answers=answers.get(str(d['q_id']), [])) %}
                {% end %}
                {% module NodeControl() %}
            {% end %}
        {% end %}
        <i class="bi bi-file-earmark-code" id="blankIcon"></i>
    </div>
</div>
{% end %}

{% block side-content-r %}
<h4>Category: </h4>
<h4 class="mb-4"><span class="badge bg-info" id="problemCategory">{{ category }}</span></h4>
{% end %}