{% extends "layout.html" %}

{% block head %}
<title>PyPLAS</title>
{% end %}

{% block head-nav-li %}
{% end %}


{% block side-content %}
<p class="fs-4 text-secondary border-bottom border-dark">User's Guide</p>
<ul class="list-group">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
</ul>
{% end %}

{% block main %}
<main class="col px-3 vh-100 mt-3">
    <div class="card border-0 my-3">
        <img src="{{ static_url('img/error/default-error.jpg') }}" height=300px width=100% class="card-img-top" alt="{{status_code}} error img" style="object-fit: cover;">
        <div class="card-body text-center">
            {% if status_code == 403 %}
                <h2 class="card-title text-danger border-bottom border-danger text-center">403 Forbidden </h2>
                <p class="card-text w-50 text-center my-4 mx-auto">Access to this resource on the server is denied!</p>
                <a class="btn btn-primary text-center" href="/"><i class="bi bi-house"></i>  Go To Home</a>
            {% elif status_code == 404 %}
                <h2 class="card-title text-danger border-bottom border-danger text-center">404 Not Found </h2>
                <p class="card-text w-50 text-center my-4 mx-auto">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
                <a class="btn btn-primary text-center" href="/"><i class="bi bi-house"></i>  Go To Home</a>
            {% else %}
                <h2 class="card-title text-danger-emphasis border-bottom border-danger text-center">
                    {% if status_code // 100 == 4 %}
                        {{ status_code}} Client Error
                    {% elif status_code // 100 == 5 %}
                        {{ status_code }} Server Error
                    {% end %}
                </h2>
                <p class="card-text w-50 text-center my-4 mx-auto">Sorry, something went wrong.<br><br>
                    Try to refresh this page or feel free to contact us if the problem persists.</p>
                <a class="btn btn-primary text-center" href="/"><i class="bi bi-house"></i>  Go To Home</a>
            {% end %}
        </div>
    </div>
</main>
<div class="col-lg-2 border-start"></div>
{% end %}

