{% extends "layout.html" %}

{% block head %}
<title>PyPLAS</title>
{% end %}

{% block head-nav-li %}
{% end %}


{% block side-content %}
  {% module Template("modules/sidebar-documentation.html") %}
{% end %}

{% block main %}
  <div class="px-2 mt-3" id="category">
    <p class="fs-3 border-bottom border-dark fw-bold"> About PyPLAS</p>
    <p class="lh-lg" style="text-indent: 1rem;">
      <b>PyPLAS</b>はweb上でPythonについて学ぶことができるプログラミング学習支援システムです. 
      内部に対話型実行環境を実装することで, コードの実行と出力の確認を繰り返し行いながらPythonについて学ぶことができます. 
      また, コード記述問題と選択問題, 空欄補充問題の組み合わせによって, 学習の進捗を確認することが可能です.
    </p>
    <p class="fs-3 border-bottom border-dark fw-bold mt-3">  Categories</p>
    <div id="catContainer" class="d-flex justify-content-center" style="flex-wrap: wrap;">
      {% if len(categories) == 0 %}
        {% module Template("modules/in-preparation.html",
              description="<br>".join([
              "Sorry... Category does not exist.",
              "Please start the server in developer mode and register the category."]))
        %}
      {% end %}
      {% for category in categories %}
        <div class="card m-2" style="width: 45%;" onclick="location.href='/categories/{{ category["cat_id"] }}'">
          <img src="{{ static_url(category['logo_url']) }}"  alt="Category Logo"
              width="50%" height="100px" class="card-img-top object-fit-cover" alt="category logo">
          <div class="card-body">
              <h5>{{ category["cat_name"] }}</h5>
          </div>
        </div>
      {% end %}
    </div>
  </div>
{% end %}

{% block side-content-r %}
{% end %}

