<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ static_url('css/skyblue.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/docs.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/problem-page.css') }}"/>

    <script src="{{ static_url('javascript/jquery.js' )}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ace.js"></script>
    
    <title>PyPLAS</title>
</head>
<body>
<div class="bg-dark padding-y-10">
  <div class="container text-center">
    <h1 style="margin-bottom: 0em;"><a href="/" style="color: white;">Offline PyPLAS</a></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col md-3">
      <div class="sidemenu js-sidemenu">
        <h5>Sidemenu</h5>
      </div>
    </div>
    <div class="col md-9 float-right jplas">
      {% block content %}
      {% end %}
    </div>
  </div>
</div>
</body>

</html>