{% extends "layout.html" %}

{% block head %}
<title>PyPLAS - {{ title }}</title>
<style>
    .node-control .btn-addMD {display: none !important;}
    .question[data-q-ptype="1"]  .card-body  .answer-content  .code.node {
        .dropdown.code-options {
            display: none;
        }
    }
</style>
<script src="{{ static_url('js/notebook.js') }}" type="module"></script>
{% end %}

{% block head-nav-li %}
<li class="nav-item align-self-center">
    <a href="/" class="nav-link text-light"><i class="bi bi-house"></i> Home</a>
</li>
<li class="nav-item align-self-center">
    <a href="/categories/{{cat_id if cat_id is not None else 0}}" class="nav-link text-light text-decoration-underline">My Category</a>
</li>
{% end %}

{% block side-content %}
{% module Template('modules/side_kernel_ops.html') %}
{% module Template('modules/sidebar-documentation.html') %}
{% end %}

{% block main %}
<div class="my-3" id="summary">
    <p class="fs-3 border-bottom border-dark ps-1">{{ title }}</p>
    <div class="ps-3">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-summary-tab" data-bs-toggle="tab" data-bs-target="#navSummary" type="button" role="tab" aria-controls="navSummary" aria-selected="true">Summary</button>
                <button class="nav-link" id="nav-data-tab" data-bs-toggle="tab" data-bs-target="#navData" type="button" role="tab" aria-controls="navData" aria-selected="false">Data Source</button>
                <button class="nav-link" id="nav-env-tab" data-bs-toggle="tab" data-bs-target="#navEnv" type="button" role="tab" aria-controls="navEnv" aria-selected="false">Environment</button>
            </div>
        </nav>
        <div class="tab-content border bg-light" id="nav-tabContent">
            <div class="tab-pane fade show active p-2 explain" id="navSummary" role="tabpanel" aria-labelledby="nav-summary-tab">
                {% raw page["header"]["summary"] %}
            </div>
            <div class="tab-pane fade p-2 explain" id="navData" role="tabpanel" aria-labelledby="nav-data-tab">
                {% raw page["header"]["source"] %}
            </div>
            <div class="tab-pane fade p-2 explain" id="navEnv" role="tabpanel" aria-labelledby="nav-env-tab">
                {% raw page["header"]["env"] %}
            </div>
        </div>
    </div>
</div>
<div id="sourceCode">
    <p class="fs-3 border-bottom border-dark ps-1">The Source Code</p>
    <div class="question-scrollspy" id="nodesContainer" data-bs-spy="scroll" data-bs-target="#question-nav" data-bs-smooth-scroll="true">
        {% for d in page["body"]%}
            {% if d["type"] == "code" %}
                {% module Code(**d) %}
            {% elif d["type"] == "explain" %}
                {% module Explain(**d) %}
            {% elif d["type"] == "question" %}
                {% module Question(**d, progress=q_status.get(str(d['q_id']), 0),
                                    saved_answers=q_content.get(str(d['q_id']), []),
                                    explanation=explanations.get(str(d['q_id']), [])
                                  ) %}
            {% end %}
        {% end %}
</div>
{% end %}

{% block side-content-r %}
<div style="max-height: 70vh; overflow-y: auto;" id="rightSideBarScrollField">
    <h4>Category: </h4>
    <h4 class="mb-4"><span class="badge bg-info" id="problemCategory">{{ cat_name if cat_name is not None else '...' }}</span></h4>
    <h4>Questions</h4>
    <nav id="question-nav" class="h-100 flex-column align-items-stretch pe-4 mb-4">
        <nav class="nav nav-pills flex-column">
            {% set i = 1%}
            {% for d in page["body"] %}
                {% if d["type"] == "question" %}
                    <a class="nav-link position-relative" href="#q-id-{{ d['q_id'] }}" data-q-progress="{{ q_status.get(str(d['q_id']), 0) }}">
                        Q. {{ i }}
                        <span class="progress-badge badge position-absolute" style="right: 5%;"> </span>
                    </a>
                    {% set i = i + 1%}
                {% end%}
            {% end %}
        </nav>
    </nav>
</div>
{% end %}