{% extends "layout.html" %}

{% block head %}
<title>PyPLAS - {{ title }}</title>
<style>
    .node-control .btn-addMD {display: none !important;}
</style>
<script src="{{ static_url('js/modules/notebook.js') }}" type="module"></script>
{% end %}

{% block head-nav-li %}
<li class="nav-item px-4">
    <a href="/" class="nav-link text-light">Home</a>
</li>
<li class="nav-item px-4">
    <a href="" class="nav-link text-light disabled">prev</a>
</li>
<li class="nav-item px-4">
    <a href="" class="nav-link text-light disabled">next</a>
</li>
{% end %}

{% block side-content %}
<p class="fs-5 fw-bold border-bottom px-2">SideMenu</p>
{% module Template('modules/side_kernel_ops.html') %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProgress" aria-expanded="true" aria-controls="collapseProgress">
            Progress
            </button>
        </h2>
        <div id="collapseProgress" class="accordion-collapse collapse show">
            <div class="accordion-body px-1 ">
                <div class="list-group list-group-flush" style="font-size: 0.9rem;">
                    {% for d in progress %}
                        <a class="list-group-item pe-0 ps-1 py-1 rounded {% if conponent['id'] == d['id'] %} list-group-item-secondary {% end %}" href="/problems/{{ d['id'] }}">
                            {% if d["status"] == 0 %}
                            <i class="bi bi-circle text-dark"></i>
                            {% elif d["status"] == 1 %} 
                                <i class="bi bi-triangle text-warning"></i>
                            {% elif d["status"] == 2 %}
                                <i class="bi bi-check2-circle text-success"></i>
                            {% end %}
                            {{ d["title"] }}
                        </a>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block main %}
<main class="col px-3" style="min-height: 100vh;">
    <div class="my-3" id="summary">
        <p class="fs-3 border-bottom border-dark ps-1">{{ title }}</p>
        <div class="ps-3">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-summary-tab" data-bs-toggle="tab" data-bs-target="#navSummary" type="button" role="tab" aria-controls="navSummary" aria-selected="true">Summary</button>
                  <button class="nav-link" id="nav-data-tab" data-bs-toggle="tab" data-bs-target="#navData" type="button" role="tab" aria-controls="navData" aria-selected="false">Data Source</button>
                  <button class="nav-link" id="nav-env-tab" data-bs-toggle="tab" data-bs-target="#navEnv" type="button" role="tab" aria-controls="navEnv" aria-selected="false">Environment</button>
                </div>
            </nav>
            <div class="tab-content border bg-light" id="nav-tabContent">
                <div class="tab-pane fade show active p-2 explain" id="navSummary" role="tabpanel" aria-labelledby="nav-summary-tab">
                    {% raw page["header"]["summary"] %}
                </div>
                <div class="tab-pane fade p-2 explain" id="navData" role="tabpanel" aria-labelledby="nav-data-tab">
                    {% raw page["header"]["source"] %}
                </div>
                <div class="tab-pane fade p-2 explain" id="navEnv" role="tabpanel" aria-labelledby="nav-env-tab">
                    {% raw page["header"]["env"] %}
                </div>
            </div>
        </div>
    </div>
    <div id="sourceCode">
        <p class="fs-3 border-bottom border-dark ps-1">The Source Code</p>
        <div class="question-scrollspy" id="nodesContainer" data-bs-spy="scroll" data-bs-target="#question-nav" data-bs-smooth-scroll="true">
            {% for d in page["body"]%}
                {% if d["type"] == "code" %}
                    {% module Code(**d) %}
                {% elif d["type"] == "explain" %}
                    {% module Explain(**d) %}
                {% elif d["type"] == "question" %}
                    {% module Question(**d, progress=q_status.get(str(d['q_id']), 0),
                                        saved_answers=q_content.get(str(d['q_id']), [])) %}
                {% end %}
            {% end %}
    </div>
</main>
<div class="col-xxl-2 d-none d-xxl-block bg-white border-start">
    <div class="mt-5 position-sticky" style="top: 10%;">
        <nav id="question-nav" class="h-100 flex-column align-items-stretch pe-4">
            <nav class="nav nav-pills flex-column">
                {% set i = 1%}
                {% for d in page["body"] %}
                    {% if d["type"] == "question" %}
                        <a class="nav-link position-relative" href="#q-id-{{ d['q_id'] }}" progress="{{ q_status.get(str(d['q_id']), 0) }}">
                            Q. {{ i }}
                            <span class="progress-badge badge position-absolute" style="right: 5%;"> </span>
                        </a>
                        {% set i = i + 1%}
                    {% end%}
                {% end %}
            </nav>
        </nav>
    </div>
</div>
{% end %}