<!-- 
@params
    content: str 
    readonly: bool
    user: int (0 or 1)
    allow_del: bool 
-->
<div class="code node px-2 my-2" run-state="idle">
    <div class="node-side bg-body-secondary rounded-start-2 border border-dark-subtle border-1">
        <button class="btn-exec btn btn-sm btn-outline-dark">
            <i class="bi bi-caret-right-fill blocked-bi text-dark"></i>
        </button>
        <button class="btn-interrupt executing btn btn-sm btn-outline-dark">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="visually-hidden">Loading...</span>
        </button>
        <button class="btn-interrupt waiting btn btn-sm btn-outline-dark">
            <i class="bi bi-stop-circle text-dark blocked-bi"></i>
        </button>
    </div>
    <div class="node-prime position-relative w-100">
        <div class="code-config bg-secondary-subtle m-1 d-flex position-absolute end-0 top-0">
            <!-- creator mode -->
            {% if user == 1 %}
                <input class="form-check-input readonly-flag my-auto mx-1" type="checkbox" {{ 'checked' if readonly else "" }}>
                <label class="form-check-label my-auto" for="readonly-flag">readonly</label>
            {% end %}
            <!-- normal & creator mode -->
            {% if allow_del %}
                <div class="vr m-1"></div>
                <button class="btn btn-danger" onclick="delme(this)"><i class="bi bi-trash blocked-bi"></i></button>
            {% end %}
        </div>
        <div class="node-code editor border rounded-end-2 {{ 'readonly' if readonly else '' }} w-100">{%raw content %}</div>
        <div class="return-box border border-dark-subtle rounded-end-1"></div>            
    </div>
</div>