<div class="mde" data-role="MDE">
    <div class="toolbar d-flex ps-2">
        <div class="btn-group md-tools">
            <button type="button" class="btn btn-outline-dark btn-sm" data-action="embed-bold"><i class="bi bi-type-bold"></i></button>
            <button type="button" class="btn btn-outline-dark btn-sm" data-action="embed-italic" ><i class="bi bi-type-italic"></i></button>
            <div class="vr mx-2 my-1"></div>
            <button type="button" class="btn btn-outline-dark btn-sm" data-action="embed-href"><i class="bi bi-link-45deg"></i></button>
            <button type="button" class="btn btn-outline-dark btn-sm" data-action="embed-img"><i class="bi bi-card-image"></i></button>
            <div class="vr mx-2 my-1"></div>
        </div>
        <div class="btn-group html-tools">
            <button type="button" class="btn btn-outline-dark btn-sm only-inq" data-action="embed-FIB" ><i class="bi bi-input-cursor"></i></button>
            <button type="button" class="btn btn-outline-dark btn-sm only-inq" data-action="embed-select"><i class="bi bi-list-check"></i></button>
            <div class="vr mx-2 my-1 only-inq"></div>
        </div> 
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark btn-sm btn-preview" data-action="show-preview">
                <i class="bi bi-eye"></i>
            </button>
            {% if has_del %}
                <div class="vr mx-2 my-1"></div>
                <button type="button" class="btn btn-outline-dark btn-sm" data-action="del-node"><i class="bi bi-trash text-danger"></i></button>
            {% end %}               
        </div>
    </div>
    <div class="mde-container">
        <div class="node-mde editor" data-role="ace-editor">{{ content }}</div>
        <div class="for-preview" data-role="md-preview"></div>
    </div>
</div>