<div class="node-control justify-content-center">
    <button type="button" class="btn btn-secondary btn-addMD mx-2" onclick="addMD($(this).parents('.node'))"> + add Markdown</button>
    <button type="button" class="btn btn-primary btn-addCode mx-2" onclick="addCode($(this).parents('.node'))"> + add Code</button>
    <button type="button" class="btn btn-success btn-addQ mx-2" onclick="addQ($(this).parents('.node'))"> + add Question</button>
    <button type="button" class="btn btn-danger btn-delU mx-2" onclick="$(this).parents('.node').remove()"> - remove upper node</button>
</div>