<div class="card my-2 ms-3 me-2 question position-relative" q-id="{{ qid }}">
	<div class="for-toast"></div>
    <div class="card-header bg-success-subtle">
      Question
    </div>
    <div class="card-body py-2">
      {% for d in conponent %}
        {% if d["type"] == "explain" %}
          {% module Explain(**d) %}
        {% elif d["type"] == "code" %}
          {% module Node(**d) %}
        {% end %}
      {% end %}
    </div>
    <div class="card-footer position-relative">
      <button type="button" class="btn btn-success btn-testing">Answer</button>
      <button type="button" class="btn btn-danger btn-cancel">Cancel</button>
    </div>
</div>