<div class="mb-3" id="kernel-ops">
  <p class="fs-4 text-secondary border-bottom border-dark">Operations</p>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action text-decoration-none text-dark"
          data-action="exec-all">
            <i class="bi bi-caret-right"></i>
            Execute All
        </a>
        <a class="list-group-item list-group-item-action text-decoration-none text-dark"
          data-action="restart-kernel">
            <i class="bi bi-arrow-counterclockwise"></i>
            Restart Kernel
        </a>
        <a class="list-group-item list-group-item-action text-decoration-none text-danger"
          data-action="interrupt-kernel">
            <i class="bi bi-stop-circle"></i>
            Interrupt Kernel
        </a>
        <a class="list-group-item list-group-item-action text-decoration-none text-success"
          data-action="save">
            <i class="bi bi-save"></i>
            Save Answer
        </a>
    </div>
</div>