<div id="DocumentLinks">
    <p class="fs-4 text-secondary border-bottom border-dark">User's Guide</p>
    <div class="list-group text-wrap" style="font-size: .9rem;">
        <a href="/" class="list-group-item list-group-item-action">Home</a>
        <a href="/static/docs/PyPLAS_Manual[JP].pdf" class="list-group-item list-group-item-action" target="_blank" rel="noopener">How to Use PyPLAS (JP)</a>
        <a href="/static/docs/PyPLAS_Manual[EN].pdf" class="list-group-item list-group-item-action" target="_blank" rel="noopener">How to Use PyPLAS (EN)</a>
        <a href="https://github.com/hary84/PyPLAS/blob/master/NOTICE.md" class="list-group-item list-group-item-action" target="_blank" rel="noopener">The Use of OSS in PyPLAS</a>
        <a href="https://github.com/hary84/PyPLAS" class="list-group-item list-group-item-action" target="_blank" rel="noopener">
            <i class="bi bi-github pe-2"></i>Source Code (Github)
        </a>
    </div>
</div>
