<div class="mb-3" id="kernel-ops">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action text-decoration-none text-dark btn-restart">
            <i class="bi bi-arrow-counterclockwise"></i>
            Restart
        </a>
        <a class="list-group-item list-group-item-action text-decoration-none text-danger btn-interrupt">
            <i class="bi bi-stop-circle"></i>
            Interrupt
        </a>
        <a class="list-group-item list-group-item-action text-decoration-none text-success" id="btn-save">
            <i class="bi bi-save"></i>
            Save
        </a>
    </div>
</div>