<!-- 
@params
    result_status:   "status-success" or "status-error"
    result_content:  content to be displayed
-->
<div class="toast position-absolute {{ result_status }}" style="z-index: 10; right: 1%;" 
        data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <i class="bi bi-square-fill"></i>
        <strong class="ms-2">Result</strong>
        <span class="ms-2"></span>
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {% raw result_content %}
    </div>
</div>